body {
	background-color: 00664F;
}

.title {
	text-align: center;
}

.castle {
	transition: transform 0.3s ease-in-out;
}

.castle-image {
	margin-top: 20px;
	margin-bottom: 20px;
}

.login-button {
	text-align: center;
}

h1 {
	font-size: 2.5em;
	font-family: luminari, fantasy;
	color: black;
}

h2 {
	font-size: 1.5em;
	font-family: luminari, fantasy;
	color: black;
}

.Wrapper {
	background: white;
	margin-top: 1.5rem;
	padding: 1rem;
	border-radius: 5px;
}
